#u75-5,#u77-5
{
	background-color: #FF5F00;
	text-align: center;
	font-weight: bold;
	position: relative;
}

#u79-5,#u79-36,#u80-5,#u80-8,#u80-10,#u80-15,#u80-17
{
	font-weight: bold;
}

#u93,#u94
{
	border-color: #000000;
	background-color: #FFFFFF;
	position: relative;
}

#u78-5,#u78-7,#u78-9,#u78-11,#u78-13,#u78-15,#u79-7,#u79-9,#u79-11,#u79-13,#u79-15,#u79-17,#u79-19,#u79-21,#u79-23,#u79-25,#u79-27,#u79-29,#u79-31,#u79-33,#u79-38,#u79-40,#u79-42,#u79-44,#u79-46,#u79-48,#u79-50,#u79-52,#u79-54,#u79-56,#u79-58,#u79-60,#u80-7,#u80-12,#u80-14,#u80-19,#u80-21,#u80-23,#u80-25,#u81-5,#u81-7,#u81-9,#u81-11,#u81-13,#u81-15,#u81-17,#u81-19,#u81-21,#u81-23,#u81-25,#u81-27,#u81-29,#u81-31,#u82-5,#u82-7,#u82-9,#u82-11,#u82-13,#u82-15,#u82-17,#u82-19,#u82-21,#u82-23,#u82-25,#u82-27,#u82-29,#u82-31,#u82-33,#u82-35
{
	font-size: 12px;
	line-height: 14px;
}

#u78-17,#u79-63,#u80-31,#u81-37,#u82-41,#u83-6,#u69
{
	position: relative;
}

